<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EBANK_FAULU Report</title>

    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>Faulu Bank</h1>
<p>Messages report for the given time period.</p>
<table>
    <thead>
    <tr>
        <th>TXN_TYPE</th>
        <th>SMS_COUNT</th>
        <th>CHANNELS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="smsResponse : ${data}">
        <td th:text="${smsResponse.TXN_TYPE}"></td>
        <td th:text="${smsResponse.SMS_COUNT}"></td>
        <td th:text="${data2}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>
